/* General styles */
body {
     background-color: #f9f9f9;
     margin: 0;
     padding: 0;
    }
    
    /* Header */
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 20px;
      z-index: 5;
    }
    
    .logo {
      float: left;
    }
    
    .logo img {
      width: 100px;
      height: auto;
    }
    
    nav {
      float: right;
    }
    
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      display: inline-block;
      margin-right: 20px;
    }
    
    nav a {
      text-decoration: none;
      color: #333;
    }
    
    /* Phone */
    .container {
      overflow: hidden;
    }
    
    .phone {
      background-color: #36383F;
      border-radius: 40px;
      width: 300px;
      height: 600px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.5s ease-in-out;
      display: none;
    }
    
    .phone.active {
      display: block;
    }
    
    .content {
      border: 1px solid #36383F;
      border-radius: 20px;
      width: 94%;
      height: 91%;
      background-color: #F5F6FA;
      overflow: hidden;
    }
    
    /* Menu Toggle */
    nav {
      background-color: #1E1E23;
      height: 65px;
    }
    
    
    #menuToggle {
     display: flex;
     flex-direction: column;
     position: relative;
     top: 25px;
     left: 25px;
     z-index: 1;
     -webkit-user-select: none;
     user-select: none;
    }
    
    #menuToggle input
    {
     display: flex;
     width: 40px;
     height: 32px;
     position: absolute;
     cursor: pointer;
     opacity: 0;
     z-index: 2;
    }
    
    #menuToggle span
    {
     display: flex;
     width: 29px;
     height: 2px;
     margin-bottom: 5px;
     position: relative;
     background: #ffffff;
     border-radius: 3px;
     z-index: 1;
     transform-origin: 5px 0px;
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
           background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
           opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
     transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
     transform-origin: 0% 100%;
    }
    
    #menuToggle input:checked ~ span
    {
     opacity: 1;
     transform: rotate(45deg) translate(-3px, -1px);
     background: #36383F;
    }
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
     transform: rotate(-45deg) translate(0, -1px);
    }
    
    /* Menu */
    #menu
    {
     position: absolute;
     width: 180px;
     height: 400px;
     box-shadow: 0 0 10px #858
    }

    /* Footer */
footer {
    background-color: #1E1E23;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .phone {
      width: 100%;
      height: auto;
      border-radius: 0;
    }
  
    .content {
      width: 100%;
      height: auto;
      border-radius: 0;
    }
  
    nav ul {
      display: none;
    }
  
    #menuToggle {
      display: block;
    }
  }
  