/* Reset and Base Styles */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navbar .logo {
    font-size: 1.5rem;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

.navbar-links ul li {
    text-align: center;
    padding: 0.5rem 0;
}

.navbar-links ul li a {
    text-decoration: none;
    color: white;
    padding: 10px; /* Added for touch friendliness */
}

.navbar-links ul li a:hover {
    color: #0275d8; /* Hover effect for interactivity */
}

.toggle-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
    .navbar-links ul {
        display: flex;
        flex-direction: row;
    }

    .toggle-button {
        display: none;
    }
}

/* Breadcrumb Styles */
.breadcrumbs {
    padding: 10px 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-size: 0.85rem;
    margin-bottom: 20px;
}

.breadcrumbs a {
    color: #0275d8;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    color: #6c757d;
}

/* Content Styles */
.content {
    padding: 1rem;
}
