.navbar {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-bottom: 20px;
  padding: 15px 20px;
}

.navbar-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.navbar-toggle {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  height: 30px;
  margin: 0 10px;
  padding: 0 15px;
}

.navbar-toggle .icon-bar {
  background-color: #333;
  display: block;
  height: 2px;
  margin-top: 5px;
  width: 22px;
}

.navbar-brand {
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  text-decoration: none;
}

.collapse.navbar-collapse {
  display: none;
}

@media (max-width: 768px) {
  .navbar-header {
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
    flex-direction: column;
  }

  .navbar-toggle {
    margin-bottom: 10px;
  }

  .collapse.navbar-collapse {
    display: block;
  }
}
